@import url(./__item/photo-grid__item.css);
@import url(./__title/photo-grid__title.css);


.photo-grid {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px;
    padding-top: 92px;
    margin: 0 auto;
}