.video__item {
    position: relative;
    width: calc((100% - 16px)/2);
    border-radius: 5px;
    background-color: #000000;
    line-height: 0;
}

.video__item:hover .cover-bg {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .video__item {
        width: 100%;
        margin-bottom: 8px;
    }

    .video__item:last-child {
        margin-bottom: 0px;
    }
}