.lead__title {
    max-width: 782px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 48px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 365px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }
}