.cover__subtitle {
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 auto;
    width: 382px;
    z-index: 1;
}