
.places {
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;
}

.places .place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places {
        padding-top: 64px;
    }
}