.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
    text-decoration: unset;
    margin-right: 18px;
}

@media screen and (max-width: 1023px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 48px;
    }
}