@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_style_underline/header__lang_style_underline.css);


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1184px;
    margin: 0 auto 48px;
}