@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    font-family: Inter, Arial, sans-serif;
    display: flex;
    padding-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding-bottom: 24px;
    }
}