@import url(./_selected/header__lang_selected.css);

.header__lang {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-decoration: unset;
    color: #FFFFFF;
    margin-right: 18px;
}

.header__lang:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}