.comments__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 19px;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .comments__container {
        grid-template-columns: 1fr;
    }
}