@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);


.intro {
    padding-top: 80px;
    width: 985px;
    margin: 0 auto;
}