@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);

.comment {
    font-family: Inter, Arial, sans-serif;
    width: 100%;
    max-width: 382px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .comment {
        margin-bottom: 48px;
        text-align: center;
    }

    .comment:last-child {
        margin-bottom: 0;
    }
}