.lead__subtitle {
    width: 583px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 78px;
}