@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);
@import url(./__link/cover__link.css);

.cover {
    font-family: Inter, Arial, sans-serif;
    position: relative;
    /* padding-top: 274px; */
    max-width: 1184px;
    /* max-height: 594px; */
    line-height: 0;
    margin: 0 auto 82px;
    text-align: center;
    /* background-image: url(../../vendor/images/cover__image.jpg); */
}

.cover:hover .cover-bg {
    opacity: 0.8;
}