@import url(./_column/intro__text_column_main.css);

.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .intro__text {
        font-size: 12px;
        line-height: 19px;
    }
}