.video__description {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 30px;
    max-width: 322px;
}


@media screen and (max-width: 1023px) {
    .video__description {
        left: 24px;
        bottom: 24px;
    }
}