.cover__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    z-index: 1;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 464px) {
    .cover__title {
        top: 40%;
        transform: translateY(-40%);
    }
}