.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    flex: 1;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        text-align: left;   
        align-self: flex-start;   
    }
}