@import url(./_indent/place__paragraph_indent_bottom.css);


.place__paragraph {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}