@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    font-family: Inter, Arial, sans-serif;
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 48px;
}