.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 18px;
}

@media screen and (max-width: 1024px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
    }
}