@import url(./__container/comments__container.css);


.comments {
    font-family: Inter, Arial, sans-serif;
    padding-top: 102px;
    margin: 0 auto 102px;
}

@media screen and (max-width: 768px) {
    .comments {
        padding-top: 64px;
    }
}